:root {
  /* colors */
  --primary: #68d391;
  --primary-dark: #54a874;

  /* accents */
  --white-accent: #fff;
  --very-low-accent: #fafafa;
  --low-accent: #eaeaea;
  --medium-accent: #666666;
  --higth-accent: #333333;
  --black-accent: #000;

  /* queries */
  --desktop-query: 950px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
